<%- include('particles/header.ejs') %>

<div class="err-container">
    <div class="err-text">
        <h1 class="NUMBER">404</h1>
        <p>Данной страницы не существует</p>
        <br>
        <div class="err-fla"><a href="/" class="err-a">На главную</a> <span class="err-a" id="err-slash">/</span> <a href="/auth" class="err-a">Регистрация</a></div>
    </div>
</div>

<%- include('particles/footer.ejs') %>
