<%- include('particles/header.ejs') %>
<title>RedArrow About</title>
<%- include('particles/nav.ejs') %>
<%- include('particles/navst.ejs') %>
<div class="page" id="direct">
    <h2><li><span style="color: var(--blue);">ReDirect</span></li></h2>
    <p>ReDirect - приложение для синхронизации сообщений из различных площадок и мессенджеров. В приложении вы найдёте три вкладки: Чаты, Каналы и Бизнес. В чаты выгружаются личные и групповые сообщения из telegram, VK, viber и других мессенджеров. В каналах можно просматривать видео из YouTube, публикации из VK или OK, а также каналы из таких мессенджеров, как telegram или viber. Вкладка "Бизнес" необходима для просмотра сообщений из бизнес-аккаунтов, telegram Ботов, сообщений групп ВКонтакте, а также обращения к техподдержке собственного сайта: достаточно всего лишь подключить специальную библиотеку.</p>
</div>
<div class="page" id="drive">
    <h2><li><span style="color: var(--pink);">ReDrive</span></li></h2>
    <p>ReDrive - сервис-облако для передачи и хранения файлов, с функциями запуска сервера и нейросетью <a href="#zorum">Zorum</a>. На данный момент сервис неактивен, либо находится в разработке.</p>
</div>
<div class="page" id="gd">
    <h2><li><span style="color: var(--tree);">ReGuide</span></li></h2>
    <p>ReGuide - платформа для создания онлайн-курсов и уроков. Основная функция этого приложения - создание пошаговых курсов с видеоуроками, конспектами и заданиями. На данный момент сервис неактивен, либо находится в разработке.</p>
</div>
<div class="page" id="zorum">
    <h2><li><span class="color" id="zc"">Zorum</span></li></h2>
    <p>Zorum - это нейросеть для выполнения различных задач, таких как анализ электронной почты, ответ на сообщения, рекомендации покупок или просто поддержание разговора. На данный момент сервис неактивен, либо находится в разработке.</p>
</div>
<div class="page" id="atrium">
    <h2><li><span style="color: var(--font);">Atrium</span></li></h2>
    <p>Atrium - социальная сеть для публикации музыки, живописи, книг и другого творчества, а также проведения прямых трансляций и создания интернет-радиостанций (прямых эфиров). На данный момент сервис неактивен, либо находится в разработке.</p>
</div>
<div class="page" id="rk">
    <h2><li>RedKey</li></h2>
    <p>RedKey - сервис для хранения ключей и карт, а также для онлайн-оплаты и управления платёжными средствами. На данный момент сервис неактивен, либо находится в разработке.</p>
</div>
<div class="page" id="rm">
    <h2><li>ReView</li></h2>
    <p>RedMaps - онлайн-карты с полным доступом к кастомизации, а также с нейрофункциями. <a href="#zorum">Zorum</a> посчитает за вас время, требуемое чтобы добраться до работы, расскажет о погоде и пробках, найдёт кратчайший путь до места назначения или покажет точное расписание автобусов и поездов. На данный момент сервис неактивен, либо находится в разработке.</p>
</div>
<div class="page" id="rm">
    <h2><li>ReMail</li></h2>
    <p>ReMail - электронная почта с нейрофункциями и возможностью просмотра писем из других почтовых сервисов. <a href="#zorum">Zorum</a> за Вас сделает краткий пересказ письма, найдёт ссылку или код для входа.</p>
</div>

<%- include('particles/footer.ejs') %>
