<%- include('particles/header.ejs') %>
<title>RedArrow Registration</title>
<%- include('particles/nav.ejs') %>

<div class="container-reg">
    <div><textarea name="" id="" cols="80" rows="20" placeholder="Information"></textarea></div>
    <i class="fas fa-arrow-alt-circle-right nextarrow"></i>
</div>

<%- include('particles/footer.ejs') %>
